* {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

:root {
  background-color: black;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#root {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  user-select: none;
}
